@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
  --font: "Montserrat", sans-serif;

  --text-color: #252b42;
  --light-text-color: #ffffff;

  --primary-color: #23a6f0;
  --secondary-text-color: #737373;
  --disabled-element-color: #BEC2F2;
  --success-color: #2DC071;
  --muted-color: #BDBDBD;
  --dark-background-color: #252B42;

  --light-background-color: #ffffff;
  --light-gray-1: #FAFAFA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font);

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  color: var(--text-color);

  background-color: var(--light-gray-1);
}

a {
  text-decoration: none;

  color: var(--light-text-color);
}


/* Header */
.header__container{
  width: 100%;
  height: 9.1rem;

  z-index: 10;
}

.header__content{
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
}
.container{
  width: 100%;
  max-width: 1046px;
}
.menu__container{
  display: flex;
  align-items: center;

  gap: 8.3rem;
}
.logo{
  font-size: 2.4rem;
  font-weight: 700;

  color: var(--light-text-color);

  line-height: 3.2rem;
  z-index: 10;
}
.nav__content{
  display: flex;
  align-items: center;

  gap: 2.1rem;

  list-style: none;
}

.nav__links{
  font-weight: 600;
  font-size: 1.4rem;

  line-height: 2.4rem;
}




.user__session{
  display: flex;
  align-items: center;

  gap: 4.5rem;
}
.session{
  line-height: 2.2rem;

  font-weight: 700;
  font-size: 1.4rem;
}
.bg-blue{
  background-color: var(--primary-color);
}
.header-btn{
  display: flex;
  align-items: center;

  padding: 1.5rem 2.5rem;

  border-radius: .5rem;

  gap: 1.5rem;
}

.mobile__menu{
  display: none;
}




/* Home */
main{
  width: 100%;
}
.home__container{
  width: 100%;
  height: 100%;

  max-height: calc(997px - 204px);

  z-index: -1;
}
.bg__image{
  width: 100%;
  max-width: 1440px;

  height: 793px;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  z-index: -1;

  background-image: url('../img/home-bg-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.opacity{
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;

  z-index: -1;
}

.home__content{
  color: var(--light-text-color);
  
  margin: auto;
  text-align: center;
}
.home{
  max-width: 699px;
  width: 100%;
  height: 432px;

  padding: 4rem 0;

  margin: 9.3rem auto 8rem;
}
.home__title{
  font-size: 5.8rem;
  font-weight: 800;

  line-height: 8rem;
}
.home__subtitle{
  font-size: 2rem;
  font-weight: 500;

  max-width: 539px;
  width: 100%;
  margin: auto;

  padding: 4rem 0;

  line-height: 3rem;
}
.home__buttons{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}
.home__btn{
  padding: 1.5rem 3.6rem;

  font-size: 1.4rem;
  font-weight: 700;

  border-radius: 3.7rem;

  line-height: 2.2rem;
}
.btn-alt{
  border: 1px solid #FFFFFF;
}

.cards__container{
  margin-top: 8rem;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.cards{
  text-align: left;

  padding: 3.5rem 4rem;

  background-color: var(--light-background-color);

  box-shadow: 0px 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
}
.cards img{
  width: 49.33px;
  height: 37.33px;
}
.card__title{
  color: var(--text-color);

  font-size: 2.4rem;
  font-weight: 700;

  line-height: 3.2rem;

  padding: 1rem 0;
}
.card__description{
  font-size: 1.4rem;
  font-weight: 500;

  line-height: 2rem;

  width: 213px;

  color: var(--secondary-text-color);
}
.cards.bg-blue{
  background-color: var(--primary-color);
}
.cards.bg-blue img,
.cards.bg-blue .card__title, 
.cards.bg-blue .card__description{
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(2%) hue-rotate(237deg) brightness(105%) contrast(101%);
}





/* Pricing */
.pricing__container{
  width: 100%;
}
.pricing__content{
  height: 100%;
  width: 100%;

  margin: auto;

  padding: 22.1rem 0 11.2rem;
}
.pricing__title{
  font-size: 4rem;
  font-weight: 700;

  text-align: center;

  line-height: 5.7rem;
}
.pricing__description{
  font-size: 1.4rem;
  font-weight: 500;

  max-width: 470px;
  width: 100%;

  text-align: center;

  margin: 1rem auto 8rem;

  color: var(--secondary-text-color);

  line-height: 2rem;
}

.plan__container{
  width: 100%;
  height: 705px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: .1rem;
}
.plan__content{
  max-width: 327px;
  width: 100%;
  height: 665px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 4rem;

  background-color: var(--light-background-color);

  border: 1px solid var(--primary-color);
  border-radius: 1rem;
}
.plan__title{
  font-size: 2.4rem;
  font-weight: 700;

  line-height: 3.2rem;
}
.plan__subtitle{
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 2.4rem;

  max-width: 160px;
  width: 100%;

  text-align: center;

  padding: 3.5rem 0;

  color: var(--secondary-text-color);
}

.plan__price{
  display: flex;
  align-items: center;

  color: var(--primary-color);

  margin-bottom: 3.5rem;

  gap: 1rem;
}
.plan__price h2{
  font-size: 4rem;
  font-weight: 700;

  line-height: 5.7rem;
}
.per__month{
  text-align: left;
}
.price__icon{
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 2.4rem;
}
.per__month__text{
  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;

  color: var(--disabled-element-color);
}

.plan__description__container{
  max-width: 247px;
  width: 100%;

  margin-bottom: 3.5rem;

  display: grid;
  gap: 1.5rem;
}
.plan__description{
  display: flex;
  justify-content: flex-start;

  gap: 1rem;
}
.plan__check{
  width: 3.2rem;
  height: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;
  background-color: var(--muted-color);
}

.success{
  background-color: var(--success-color);
}
.description{
  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;
}

.plan__btn{
  padding: 1.5rem 4rem;
  margin-bottom: 5rem;
  width: 100%;

  text-align: center;

  border-radius: .5rem;

  font-size: 1.4rem;
  font-weight: 700;

  line-height: 2.2;
}


.emphasis{
  height: 100%;

  background-color: var(--text-color);

  color: var(--light-text-color);
}
.emphasis .plan__subtitle{
  color: var(--light-text-color);
}




/* map__form__container */
.map__form__container{
  width: 100%;
  height: 1189px;
}
.map__form__content{
  height: 807px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  background-color: var(--dark-background-color);
  color: var(--light-text-color);
}
.map__header{
  display: flex;
  justify-content: space-between;

  padding: 5rem 0;
}
.map__text{
  padding: 5rem 0;
}
.map__title{
  font-size: 4rem;
  font-weight: 700;

  max-width: 455px;
  width: 100%;

  margin-bottom: 1.5rem;
  
  line-height: 5.7rem;
}
.map__description{
  text-align: left;

  font-size: 1.4rem;
  font-weight: 500;

  max-width: 456px;
  width: 100%;

  line-height: 2rem;
}

.form__container{
  max-width: 885px;
  width: 100%;
  height: 710px;

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;

  margin: auto;
}
.form__content{
  background-color: var(--light-background-color);

  width: 100%;
  height: 610px;

  display: flex;
}
.form{
  width: 100%;

  padding: 4rem;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.form__title{
  color: var(--text-color);

  font-size: 2.4rem;
  font-weight: 700;

  line-height: 3.2rem;
}

.form form{
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 1rem;

  padding: 4rem 0;

  color: var(--text-color);
}
.form form fieldset{
  display: flex;
  flex-direction: column;

  gap: 1rem;

  border: none;
}

.form__label{
  color: var(--text-color);

  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;
}
.form__input{
  border: 1px solid #E6E6E6;
  border-radius: .5rem;

  padding: 1.1rem 2.1rem;

  color: var(--text-color);

  font-size: 1.4rem;
  font-weight: 400;

  line-height: 2.8rem;

  background-color: #F9F9F9;
}
.form__input::placeholder{
  color: var(--secondary-text-color);
}
.form form fieldset select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  color: var(--secondary-text-color);

  background-image: url('../img/arrow-down-icon.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 2.9rem);
}
.option{
  color: var(--text-color);
}

.btn-submit{
  border: none;
  border-radius: .5rem;

  color: var(--light-text-color);

  font-size: 1.4rem;
  font-weight: 700;

  cursor: pointer;

  line-height: 2.2rem;

  padding: 1.5rem 0;
  margin: 3rem 0;
}


/* Footer */
.footer__container{
  width: 100%;
}
.footer__content{
  margin: auto;
}
.contact__container{
  padding: 4rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__title{
  font-size: 2.4rem;
  font-weight: 700;

  color: var(--text-color);

  line-height: 3.2rem;
}
.contact__description{
  font-size: 1.4rem;
  font-weight: 500;

  color: var(--secondary-text-color);

  line-height: 2rem;
}
.contact__btn{
  border-radius: .5rem;
  padding: 1.5rem 4rem;

  font-size: 1.4rem;
  font-weight: 700;

  line-height: 2.2rem;
}

.contact__links__container{
  background-color: #FFFFFF;
}
.contact__links__content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 3rem;
  margin: auto;

  padding: 5rem 0;
}
.contact__links{
  display: grid;
  align-self: flex-start;
  gap: 2rem;
}
.contact__link__title{
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 2.4rem;

  color: var(--text-color);
}
.links__container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links{
  font-size: 1.4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  line-height: 2.4rem;
  color: var(--secondary-text-color);
}


.copy__container{
  width: 100%;

  background-color: #FAFAFA;
}
.copy__content{
  margin: auto;
  padding: 2.5rem 0;

  display: flex;justify-content: space-between;
}
.copy__title{
  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;

  color: var(--secondary-text-color);
}
.copy__icons{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 21.5px;
}
.copy__icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
#youtube-icon{
  display: none;
}




@media screen and (max-width: 1200px){
  .container{
    width: 90%;
  }
}

@media screen and (max-width: 1070px){
  .cards__container{
    gap: 1.5rem;
  }
  .cards{
    padding: 3rem 3.5rem;
  }
  
  .plan__content{
    width: 90%;
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 1000px){
  .menu__container{
    gap: 6rem;
  }

  .cards__container{
    gap: 1rem;
  }
  .cards{
    padding: 2.5rem 3rem;
  }
  
  .plan__content{
    padding: 5rem 2rem;
  }

  .contact__links__content{
    gap: 2rem;
  }
}

@media screen and (max-width: 768px){
  .nav__container{
    position: absolute;
    top: -550px;
    left: 0;

    width: 100%;
    height: 532px;

    background-color: #F7F7F7;

    transition: .3s;
  }
  .nav__content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .nav__links{
    font-size: 3rem;
    font-weight: 400;

    line-height: 4.5rem;

    color: var(--secondary-text-color);
  }

  .user__session{
    display: none;
  }

  .mobile__menu{
    display: flex;
    height: 100%;

    align-items: center;
    gap: 2.4rem;
    z-index: 10;
  }

  .home{
    margin-top: 500px;
  }

  .cards__container{
    display: flex;
    flex-direction: column;

    padding-top: 8rem;

    align-items: center;
    gap: 3rem;
  }
  .cards{
    width: 326px;
  }

  .bg__image{
    height: 2026px;
    position: absolute;
  }

  .home__container{
    max-height: calc(997px + 204px);
  }

  .home__buttons{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .pricing__container{
    display: none;
  }
  .map__form__container{
    display: none;
  }


  .footer__container{
    margin-top: 280px;
  }
  .contact__container{
    display: flex;
    flex-direction: column;

    gap: 5rem;
  }
  .contact__links__content{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px){
  .home__title{
    font-size: 4rem;
  }
  .home__subtitle{
    font-size: 2rem;
  }

  .cards__container{
    margin-top: 200px;
  }

  .footer__container{
    margin-top: 234px;
  }
  .footer__content{
    width: 70%;
  }

  .contact__links__content{
    width: 70%;
  }
  
  .copy__content{
    flex-direction: column;
    justify-content: center;

    gap: 5rem;

    width: 70%;
  }
  .copy__title{
    width: 231px;
  }
  .copy__icons{
    justify-content: flex-start;
  }

  #email-icon{
    content: url('../img/send-icon.svg');
  }

  #facebook-icon{
    content: url('../img/facebook-icon.svg');
  }
  #instagram-icon{
    content: url('../img/instagram-icon.svg');
  }
  #youtube-icon{
    display: initial;
  }
}

.color-toggle{
  filter: invert(48%) sepia(11%) saturate(14%) hue-rotate(356deg) brightness(92%) contrast(95%);

  transition: .3s;
}
.color-logo{
  color: var(--text-color);

  z-index: 10;

  transition: .3s;
}
.show-menu{
  top: 0;
}