@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
  --font: "Montserrat", sans-serif;

  --text-color: #252b42;
  --light-text-color: #ffffff;

  --primary-color: #23a6f0;
  --secondary-text-color: #737373;
  --disabled-element-color: #BEC2F2;
  --success-color: #2DC071;
  --muted-color: #BDBDBD;

  --light-background-color: #ffffff;
  --light-gray-1: #FAFAFA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font);

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  color: var(--text-color);

  background-color: var(--light-gray-1);
}

a {
  text-decoration: none;

  color: var(--light-text-color);
}


/* Header */
.header__container{
  width: 100%;
  height: 9.1rem;
}

.header__content{
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
}
.container{
  width: 100%;
  max-width: 1046px;
}
.menu__container{
  display: flex;
  align-items: center;

  gap: 8.3rem;
}
.logo{
  font-size: 2.4rem;
  font-weight: 700;

  color: var(--light-text-color);

  line-height: 3.2rem;
}
.nav__content{
  display: flex;
  align-items: center;

  gap: 2.1rem;

  list-style: none;
}

.nav__links{
  font-weight: 600;
  font-size: 1.4rem;

  line-height: 2.4rem;
}


.user__session{
  display: flex;
  align-items: center;

  gap: 4.5rem;
}
.session{
  line-height: 2.2rem;

  font-weight: 700;
  font-size: 1.4rem;
}
.bg-blue{
  background-color: var(--primary-color);
}
.header-btn{
  display: flex;
  align-items: center;

  padding: 1.5rem 2.5rem;

  border-radius: .5rem;

  gap: 1.5rem;
}




/* Home */
main{
  width: 100%;
  height: 100%;
}
.home__container{
  width: 100%;
  height: 100%;

  max-height: calc(997px - 204px);
}
.bg__image{
  width: 100%;
  max-width: 1440px;

  height: 79.3rem;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  z-index: -1;

  background-image: url('../img/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.opacity{
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}

.home__content{
  color: var(--light-text-color);
  
  margin: auto;
  text-align: center;
}
.home{
  width: 699px;
  height: 432px;

  padding: 4rem 0;

  margin: 9.3rem auto 8rem;
}
.home__title{
  font-size: 5.8rem;
  font-weight: 800;

  line-height: 8rem;
}
.home__subtitle{
  font-size: 2rem;
  font-weight: 500;

  width: 539px;
  margin: auto;

  padding: 4rem 0;

  line-height: 3rem;
}
.home__buttons{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}
.home__btn{
  padding: 1.5rem 3.6rem;

  font-size: 1.4rem;
  font-weight: 700;

  border-radius: 3.7rem;

  line-height: 2.2rem;
}
.btn-alt{
  border: 1px solid #FFFFFF;
}

.cards__container{
  margin-top: 8rem;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.cards{
  text-align: left;

  padding: 3.5rem 4rem;

  background-color: var(--light-background-color);

  box-shadow: 0px 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
}
.cards img{
  width: 49.33px;
  height: 37.33px;
}
.card__title{
  color: var(--text-color);

  font-size: 2.4rem;
  font-weight: 700;

  line-height: 3.2rem;

  padding: 1rem 0;
}
.card__description{
  font-size: 1.4rem;
  font-weight: 500;

  line-height: 2rem;

  width: 213px;

  color: var(--secondary-text-color);
}
.cards.bg-blue{
  background-color: var(--primary-color);
}
.cards.bg-blue img,
.cards.bg-blue .card__title, 
.cards.bg-blue .card__description{
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(2%) hue-rotate(237deg) brightness(105%) contrast(101%);
}





/* Pricing */
.pricing__container{
  width: 100%;
  height: 100%;
}
.pricing__content{
  height: 100%;
  width: 100%;

  margin: auto;

  padding: 112px 0;
}
.pricing__title{
  font-size: 4rem;
  font-weight: 700;

  text-align: center;

  line-height: 5.7rem;
}
.pricing__description{
  font-size: 1.4rem;
  font-weight: 500;

  width: 470px;

  text-align: center;

  margin: 1rem auto 8rem;

  color: var(--secondary-text-color);

  line-height: 2rem;
}

.plan__container{
  width: 100%;
  height: 705px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: .1rem;
}
.plan__content{
  width: 327px;
  height: 665px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 4rem;

  background-color: var(--light-background-color);

  border: 1px solid var(--primary-color);
  border-radius: 1rem;
}
.plan__title{
  font-size: 2.4rem;
  font-weight: 700;

  line-height: 3.2rem;
}
.plan__subtitle{
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 2.4rem;

  width: 160px;

  text-align: center;

  padding: 3.5rem 0;

  color: var(--secondary-text-color);
}

.plan__price{
  display: flex;
  align-items: center;

  color: var(--primary-color);

  margin-bottom: 3.5rem;

  gap: 1rem;
}
.plan__price h2{
  font-size: 4rem;
  font-weight: 700;

  line-height: 5.7rem;
}
.per__month{
  text-align: left;
}
.price__icon{
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 2.4rem;
}
.per__month__text{
  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;

  color: var(--disabled-element-color);
}

.plan__description__container{
  width: 247px;

  margin-bottom: 3.5rem;

  display: grid;
  gap: 1.5rem;
}
.plan__description{
  display: flex;
  justify-content: flex-start;

  gap: 1rem;
}
.plan__check{
  width: 3.2rem;
  height: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;
  background-color: var(--muted-color);
}

.success{
  background-color: var(--success-color);
}
.description{
  font-size: 1.4rem;
  font-weight: 600;

  line-height: 2.4rem;
}

.plan__btn{
  padding: 1.5rem 4rem;
  width: 100%;

  text-align: center;

  border-radius: .5rem;

  font-size: 1.4rem;
  font-weight: 700;

  line-height: 2.2;
}


.emphasis{
  height: 100%;

  background-color: var(--text-color);

  color: var(--light-text-color);
}
.emphasis .plan__subtitle{
  color: var(--light-text-color);
}